# Configuración de ControlFile
# Backend de ControlFile para subida de archivos
VITE_APP_BACKEND_URL=https://controlfile.onrender.com

# Backend local para gestión de carpetas y taskbar
VITE_APP_LOCAL_BACKEND_URL=http://localhost:4000

# Otras variables de entorno
NODE_ENV=development

