# Archivos de configuración sensibles
serviceAccountKey.json
.env
.env.local
.env.production
.env.staging
serviceAccountKey-controlfile.json
# Logs
*.log

# Dependencias
node_modules/

# Archivos temporales
*.tmp
*.temp